*{
    background-color: rgb(249, 250, 249);
    color: rgb(13, 8, 2);
    
    
    
}
h1{
    border: 1px solid;
    height: 50px;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    border-radius:10px ;
    background-color: black;
    color: antiquewhite;

}
button{
    color:black;
    font-weight: bold;
    height: 55px;
    width: 250px;
    margin-top: 10px;
    border-radius: 30px;
    


    padding: 15px;
}
.cls2{
    font-weight: bold;
    border: 1px solid;
    height: 50px;
    width: 300px;
    padding-top: 10px;
    font-size: 30px;
    
}
button:hover{

    background-color: rgb(0, 0, 0);
    color: black;
    font-weight: bold;
    border: 10px;
    color: aqua;

}
.bhagya{
    font-size: 20px;
}


